<launch>

  <!-- 参数：是否启用绘图节点 -->
  <arg name="enable_plot" default="false"/>
  <!-- 获取pcm文件 -->
  <node pkg="voice_process_pkg" type="get_voice_3" name="get_voice_3" output="screen" />
  <node pkg="voice_process_pkg" type="draw_node" name="draw_node" output="screen"  if="$(arg enable_plot)"/>

  <!-- <node pkg="voice_process_pkg" type="music_test" name="music_test" output="screen"  if="$(arg enable_plot)"/> -->
  <!-- 启动可视化界面 -->
  <!-- <group if="$(eval arg('enable_plot') == '1')">
    <node pkg="voice_process_pkg" type="draw_node" name="draw_node" output="screen" />
  </group> -->
</launch>